.App {
  text-align: center;
  background-color: rgb(94, 207, 245);
}

.App-header {
  background-color: rgb(126, 210, 237);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

/* Additional styles for input fields and buttons can be added here */
input, button {
  color: #dea554;
}

h1 {
  color: #dea554;
}
